        /* 사이드바 아이콘 크기 */
        .side-icons {
            width: 23px;
        }

        .main-profile {
            width: 160px;
        }

        .blue-check {
            width: 19px;
        }

        .profile-btn {
            width: 16px;
        }